/* code for responsive css start  */
@media only screen and (max-width: 749px) {
    .vc {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        color: white !important;
    }
    .navbar-expand-lg{
      z-index: 1 !important;
    }
    
    .navbar-toggler{
        border-color: white !important;
        color: white;
    }
    .alignrig{
        margin-left: 150px !important;
    }
    .ms-4{
        margin-left: 0px !important;
    }
    .bi-person-circle {
      position: absolute;
      right: 30px;
      top: 23px;
    }
    .mobmenu {
      position: absolute;
      right: 80px;
      top: 15px;
  }
    /* footer  */
    .normalf{
        margin-bottom: 30px !important;
    }
    /* footer end  */
    /* index home page start  */

    /* .search-section {
      background: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url('../images/Picture1.jpg') no-repeat center !important;
      background-position: 27% 10% !important;
      background-size: cover !important;
      height: 100% !important;
      width: 150px !important;
    } */

    /* .imgw{
        width: 100% !important;
    } */
    .imgalign{
      width: 100% !important;
      height: 190px !important;
    }
    .heroinp{
      padding: 5px !important;
      margin-top: -20px !important;
    }
    .textmargt{
        margin-top: 0px !important;
    }
    .margt{
      margin-top: 40px !important;
    }
    .textmargb{
        margin-bottom: 0px !important;
    }
    .bi-grid-3x3-gap-fill{
        display: none !important;
    }
    .tabman{
      font-size: 14px !important;
      padding: 8px !important;
    }
    .navbar-brand img{
      max-height: 30px !important;
    }
    .nav-pills{
      justify-content: center !important;
    }
    .mmartop{
        margin-top: 15px !important;
    }
    .mhdr{
        width: 100% !important;
        height: 600px !important;
        padding-top: 150px !important;
    }  
    .btncent{
        text-align: center !important;
    }
    .hdrtxt{
        font-size: 20px !important;
        color: #720f3f !important;
    }
    .revmob {
        display: flex;
        flex-direction: row-reverse;
      }
    .btncent1{
        padding: 5px !important;
        margin-top: -18px !important;
        width: 50% !important;
        font-size: 15px !important;
    }
    

    .jpmob{
        padding: 0px !important;
    }
    .pad0{
        padding: 0px !important;
    }
    .carou1{
        padding: 0px !important;
        margin-top: 20px;
    }
    .tabsecmob{
        margin: auto !important;
    }
    .revmov{
        display: flex !important;
        flex-direction: row-reverse !important;
    }
    .pdng{
        padding: 0px !important;
    }
    /* index home page end   */

    /* contact us page start */
    .rescont{
        height: 150px;
    }
    .rescont1{
        margin-bottom: 25px;
    }
    .container{
        padding-left: 30px !important;
        padding-right: 20px !important;
    }

    .btnmob{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .headmob{
        font-size: 20px;
        text-align: center;
    }
    .card-title{
        font-size: 40px;
        text-align: center;
    }

    /* contact us page end  */

    /* find more page start  */

    .fmmob1{
        font-size: 30px;
    }
    .align1{
      margin: 10px !important;
    }
    .contal{
      margin-top: 0px !important;
    }
    .bgclrn{
      background-color:transparent !important;
    }

    .fmmob2{
        font-size: 15px;
    }
    .fmmob3{
        margin-bottom: 20px;
    }
    .fmmob4{
        margin-bottom: 20px !important;
    }
    .btaj{
        font-size: 15px;
    }
    /* find more page end  */

    /* P_C_W page start  */
    .imgmar{
        margin-top: 20px;
    }
    /* P_C_W page start page end   */

    /* Professional_career_writing page start  */
  .h1text{
    width: 100% !important;
  }
  .mtpcw{
    margin-top: 10px !important;
    padding: 10px !important;
  }
  .carousel-itemM, .carousel-itemN{
    padding-bottom: 0px !important;
  }
  .button-containerM, .button-containerN{
    margin-top: 0px !important;
  }
  /* Professional_career_writing page end  */

  /* Qatarairways page start   */
  .abtsec{
    padding: 30px !important;
  }
  .qwbtn{
    width: 100% !important;
  }
  .bg-image{
    width: auto !important;
    height: 200px !important;
  }
  /* .logo{
    width: 135px !important;
  } */
  .overlay1{
    height: 150px !important;
  }
  .centered-content{
    margin-top: 130px !important;
  }
  .textcc{
    text-align: center !important;
  }
  .mtmarg{
    margin-top: 190px !important;
  }
  /* Qatarairways page end   */

  /* welcome page start */
  .welcont{
    margin-top: 500px !important;
    margin-bottom: 70px !important;
  }
  .welimg {
    width: 100% !important;
    margin: 0 auto !important;
    overflow: hidden !important;
    position: relative !important;
    height: 400px !important;
    background-image: url('images/webcome image.png') !important; /* Path to your image */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
    .weltxt{
        font-size: 50px !important;
    }
    .welmb{
        margin-bottom: 500px !important;
    }
    .signmb{
        padding: 0px !important;
    }
    .padd{
        padding: 20px !important;
    }
  /* welcome page end  */

  /* job advertisment start  */
  .whdspac{
    width: 100px !important;
  }
  td{
    width: auto !important;
  }
  /* job advertisment end  */

/* code for responsive css end  */
  }
  