
body{
    background-color: #262626;
}
/* nav bar start  */

.navbar {
    background-color: #720f3f; /* Maroon background color */
}
.navbar-brand img {
    max-height: 40px; /* Adjust as needed */
}
.navbar-nav .nav-link {
    color: white;
}
.navbar-nav .nav-link:hover {
    color: #ddd;
}
.navbar-icons .icon {
    color: white;
    margin-left: 15px;
}
.navbar-icons .icon:hover {
    color: #ddd;
}

/* nav bar end  */
.mmartop{
    margin-top: 60px;
}
.search-section {
    background: url('../images/Picture1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 300px;
}
.search-box {
    display: flex;
    justify-content: center;
}
.search-box input {
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 15px;
    width: 400px; /* Adjust width as needed */
}
.search-box button {
    border: none;
    background-color: #720f3f; /* Maroon background color */
    color: white;
    padding: 15px 30px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-box button:hover {
    background-color: #5a0c33; /* Darker maroon on hover */
}

/* header image end  */



/* primary color start */

.clr1{
    color: #720f3f !important; /* Maroon text color */
}
.bclr1{
    background-color: #720f3f !important; /* Maroon background color */
    color: white !important;
}

/* primary color end  */

/* border round start  */

.br0{
    border-radius: 18px;
}

.br1{
    border-radius: 25px;
}
.br2{
    border-radius: 50px;
}
.br3{
    border-radius: 75px;
}
.br4{
    border-radius: 100px;
}
.br5{
    border-radius: 50px;
}

.bb1{
    border-bottom: 4px solid #720f3f !important;
}
.bb2{
    border-bottom: 4px solid white !important;
}

.ba1{
    border: 4px solid #720f3f !important;
}
/* border round end  */

/* next  and previous  buttons start */
.pagination-custom {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.pagination-custom a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.pagination-custom span {
    margin: 0 10px;
}
/* next  and previous  buttons start */


.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
  }
.bordbtm{
    border-bottom: 4px solid #720f3f !important;
}

.bdrcolor{
      border-color: #720f3f;
      border-width: 2px;
  }


/* button css style start */
.btn {
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .btn:hover::after {
    transform: scale(4);
  }
  
  .btn:hover {
    border-color: #ffc7c7;
    background: #292929;
  }
  
  
/* button css style end */


/* innter carousel css start  */

.carousel-containerM {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.carouselM {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-itemM {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f3f3f3;
}

.button-containerM {
    text-align: center;
    margin-top: 20px;
}

.button-containerM button {
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #626262;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-containerM button.activeM {
    background-color: #720f3f;
}
/* second inner section css start  */

.carousel-containerN {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.carouselN {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-itemN {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f3f3f3;
}

.button-containerN {
    text-align: center;
    margin-top: 20px;
}

.button-containerN button {
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #626262;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-containerN button.active {
    background-color: #720f3f;
}


/* second inner section css end  */
/* innter carousel css end  */

/* Qatar airways css start  */
.bg-image {
    background-image: url('../images/Qatarairways.jpg'); /* Replace 'your-image-url.jpg' with the actual image URL */
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.logo {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
/* Qatar airways css end  */
.opacityy {
    opacity: 0.8;
  }


  .gallery-container {
    padding: 0;
    margin: 0;
}
.gallery-container .col {
    padding: 0;
    margin: 0;
}
.gallery-container img {
    width: 100%;
    height: auto;
}

.button1 {
    border-radius: 10px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .button1:hover {
    letter-spacing: 2px;
    background-color: white;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(197, 255, 173) 0px 7px 29px 0px;
  }
  
  .button1:active {
    background-color: hsl(118, 68%, 32%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(20, 233, 1) 0px 0px 0px 0px;
    transform: translateY(3px);
    transition: 100ms;
  }

  /* flip card start  */
.flip-card {
    background-color: transparent;
    height: 200px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid #720f3f;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, white, 88%,
       rgb(249, 219, 250) 40%, rgba(114, 15, 63, 0.603) 48%);
    color: #720f3f;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, #720f3f 30%, #720f3f 88%,
       rgb(249, 219, 250) 40%, white 78%);
    color: white;
    transform: rotateY(180deg);
  }



  .flip-card-front1, .flip-card-back1 {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid #720f3f;
    border-radius: 1rem;
  }
  
  .flip-card-front1 {
    background: linear-gradient(120deg, #720f3f 30%, #720f3f 88%,
       rgb(249, 219, 250) 40%, white 78%);
    color: white;
  }
  
  .flip-card-back1 {
    background: linear-gradient(120deg, white, 88%,
       rgb(249, 219, 250) 40%, rgba(114, 15, 63, 0.603) 48%);
    color: #720f3f;
    transform: rotateY(180deg);
  }
  /* flip card end  */